#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
  height: 80vh;
}
.Headertxt{
  float: left;
  color: white;
}
.Exit Button{
  font-size: 20px;
  line-height: 60px;
}
.Exit h3{
  float: right;
  margin-right: 50px;
  margin-left: 50px;
  color: white;
}
.Err404 {
  margin: 200PX auto;
  text-align: center;
}
